<footer class="pie-pagina">
      <div class="grupo-1">
        <div class="box">
          <figure>
            <h4>Complejo de Caba単as Doradas</h4>
            <a href="#">
              <img src="/iconos/monta単a.png" alt="Doradas Caba単as" width="100">
            </a>
          </figure>
        </div>

        <div class="box">
          <h2>SIGUENOS</h2>
          <div class="red-social">

            <a href="https://web.whatsapp.com/" title="Whatsapp" target="_blank"><img src="iconos/whatsapp.png"
                class="iconos-footer" alt="Whatsapp"></a>

            <a href="https://www.facebook.com/" title="Facebook" target="_blank"><img src="iconos/facebook.png"
                class="iconos-footer" title="Facebook" alt="Facebook"></a>

            <a href="https://www.instagram.com/" title="Instagram" target="_blank"><img src="iconos/instagram.png "
                class="iconos-footer" title="Instagram" alt="Instagram"></a>

            <a href="https://www.gmail.com/mail/help/intl/es/about.html?iframe" title="Email" target="_blank"><img
                src="iconos/email.png" class="iconos-footer" title="Email" alt="Email"></a>
          </div>
        </div>
      </div>
      <div class="grupo-2">
        <small>&copy; 2022 <b>Complejo de Caba単as Doradas</b> - Todos los Derechos Reservados.</small>
      </div>
    </footer>