<div class="container m-5">
  <div class="logo">
    <img src="/proyecto_final_utn/iconos/logo.jpg" title="Doradas Apart" alt="Doradas Apart - Arroyos de los Patos"/>
  </div>

  <div class="redes">
    <div class="img">
      <a href="https://web.whatsapp.com/" title="Whatsapp" target="_blank"><img
          src="/proyecto_final_utn/iconos/whatsapp.png" alt="Whatsapp" /></a>

      <a href="https://www.facebook.com/" title="Facebook" target="_blank"><img
          src="/proyecto_final_utn/iconos/facebook.png" title="Facebook" alt="Facebook" /></a>

      <a href="https://www.instagram.com/" title="Instagram" target="_blank"><img
          src="/proyecto_final_utn/iconos/instagram.png" title="Instagram" alt="Instagram" /></a>

      <a href="https://www.gmail.com/mail/help/intl/es/about.html?iframe" title="Email" target="_blank"><img
          src="/proyecto_final_utn/iconos/email.png" title="Email" alt="Email" /></a>

    </div>
  </div>
</div>