<div class="container m-5">
<div class="h1">
      <h1 class="titulo">
        Complejo de Cabañas Doradas
        </h1>
        
      <p class="parrafo"> 
        "...el lugar que estabas esperando..."
    </p>
</div>
</div>