


<!-- Nosotros -->
<div id="nosotros">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.png">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.png" alt="..." />
                    <div class="portfolio-box-caption">

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.png">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.png" alt="..." />
                    <div class="portfolio-box-caption">

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.png">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.png" alt="..." />
                    <div class="portfolio-box-caption">

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.png">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.png" alt="..." />
                    <div class="portfolio-box-caption">

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.png">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.png" alt="..." />
                    <div class="portfolio-box-caption">

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.png">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.png" alt="..." />
                    <div class="portfolio-box-caption">

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Mapa -->
<section class="page-section bg-dark bg-gradient text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Doradas - Apart</h2>
        <h3>Ubicación</h3>
        <div class="container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1696.8238132191525!2d-65.01160225104981!3d-31.72551929692616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x98c0518cac477297!2sComplejo%20Thai%20Land%20Alquiler%20de%20Caba%C3%B1as%20en%20Mina%20Clavero!5e0!3m2!1ses-419!2sar!4v1662467558320!5m2!1ses-419!2sar"
                width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>