




<!-- Servicios -->
<section class="page-section" id="servicios">
		<div class="container px-4 px-lg-5">
			<h2 class="text-center mt-0">Doradas - Apart</h2>
			<br>
			<h3 class="text-center mt-0">Servicios</h3>
			<hr class="divider" />

			<div class="row gx-4 gx-lg-5">
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<div class="mb-2">
							<i class="bi-gem fs-1 text-primary"></i>
						</div>

						<h3 class="h4 mb-2">Piscina Playa</h3>
						<p class="text-muted mb-0">Una piscina moderna, cómoda, donde podras disfrutar estando como en un playa</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>

						<h3 class="h4 mb-2">Parque</h3>
						<p class="text-muted mb-0">Amplio sector donde disponemos de lugares de descanzo y relax</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>

						<h3 class="h4 mb-2">Apart</h3>
						<p class="text-muted mb-0">Cómodas unidades de 2 a 6 peronas </p>
					</div>
				</div>
				<div class="col-lg-3 col-md text-center">
					<div class="mt-5">
						<div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
						<h3 class="h4 mb-2">Desyuno Serranno</h3>
						<p class="text-muted mb-0">Desayuno completo disfrutando de la naturaleza</p>
					</div>
				</div>
			</div>
		</div>
	</section>
